@use '@/styles/colours';
@use '@/styles/layout';
@use '@/styles/media-queries';
@use '@/styles/spacing';
@use '@/styles/utils';
@use '@/styles/variables';
@use '../header-settings';

$chevron-vertical-nudge-desktop: -3 * utils.rem(spacing.$x-small);

%menu-list {
  list-style: none;
  margin: auto;

  > li {
    margin: 0;
  }

  @include media-queries.mq($from: md) {
    @include layout.container;
    display: flex;
    flex-flow: row nowrap;
    gap: utils.rem(spacing.$medium);
    justify-content: flex-start;
  }
}

%link-styling {
  // qualified this with 'a' and 'button' to add specificity to avoid overrides from application css (NW-1253)
  align-items: center;
  background: none;
  border: utils.rem(spacing.$x-small) solid variables.$nice-teal;
  border-left-width: 0;
  border-radius: 0;
  border-right-width: 0;
  color: colours.$text-inverse;
  cursor: pointer;
  display: flex;
  font-size: inherit;
  font-weight: normal;
  height: 100%;
  justify-content: left;
  line-height: 1.25;
  margin-bottom: 0;
  padding: utils.rem(spacing.$small);
  position: relative;
  text-align: left;
  text-decoration: none;
  width: 100%;

  &:focus {
    color: colours.$text-inverse;
    outline: utils.rem(spacing.$x-small) solid colours.$focus-inverse;
    outline-offset: utils.rem(-(spacing.$small));
    z-index: header-settings.$z-index-nav-focus;
  }

  &:active,
  &:hover {
    background: colours.$code-background;
    color: colours.$text;
    text-decoration-line: underline;
  }

  &[aria-current='true'],
  &[aria-current='page'],
  &[aria-expanded='true'] {
    background: colours.$fill-page-background;
    border-bottom: utils.rem(spacing.$x-small) solid colours.$fill-page-background;
    color: colours.$text;

    &:focus {
      outline-color: colours.$focus;
      outline-offset: utils.rem(-(spacing.$small));
    }
  }

  svg {
    align-self: center;
    margin-left: utils.rem(spacing.$x-small);
    position: relative;
    vertical-align: middle;

    @include media-queries.mq($from: md) {
      top: $chevron-vertical-nudge-desktop;
    }
  }

  @include media-queries.mq($from: md) {
    justify-content: space-evenly;
    padding: utils.rem(spacing.$medium);
    text-align: left;
  }
}
