@use '@/styles/colours';
@use '@/styles/spacing';
@use '@/styles/utils';

.actions {
  margin-top: utils.rem(spacing.$large);

  > * + * {
    margin-left: utils.rem(spacing.$small);
  }
}

.error {
  color: colours.$error;
  font-weight: bold;
  margin-bottom: utils.rem(spacing.$small);
  margin-top: 0;
}
