@use '@/styles/typography';
@use '@/styles/variables';
@use '@/styles/utils';
@use '@/styles/media-queries';
@use '@/styles/spacing';
@use '@/styles/layout';
@use '@/styles/visibility';

.footer {
  @include typography.links-inverse;
  background: variables.$footer-background;
  box-sizing: border-box;
  color: variables.$footer-text;
  contain-intrinsic-size: 100vw utils.rem(1090); /* stylelint-disable-line */
  content-visibility: auto; /* stylelint-disable-line */
  font-family: typography.get-font-family(sans);
  position: relative;
  z-index: 0;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  a {
    font-weight: normal; // To override Pathways global anchor style
  }

  // Estimates of intrinsic height across breakpoints
  @include media-queries.mq($from: xs) {
    contain-intrinsic-height: utils.rem(930);
  }
  @include media-queries.mq($from: sm) {
    contain-intrinsic-height: utils.rem(540);
  }
  @include media-queries.mq($from: md) {
    contain-intrinsic-height: utils.rem(450);
  }
  @include media-queries.mq($from: lg) {
    contain-intrinsic-height: utils.rem(495);
  }
}

.container {
  @include layout.container;
  @include layout.clearfix;
  @include visibility.hide-print;
  padding: utils.rem(spacing.$medium 0);
}
