# https://editorconfig.org

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true

# terraform fmt uses 2 spaces
[*.{tf,tfvars}]
indent_size = 2

# YAML
[*.{yaml,yml}]
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false

# Makefiles
[{Makefile,makefile,GNUmakefile}]
indent_style = tab
indent_size = 4

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2
