@use '@/styles/colours';
@use '@/styles/visibility';
@use '@/styles/media-queries';
@use '@/styles/variables';
@use '@/styles/utils';
@use '@/styles/spacing';
@use '@/styles/layout';
@use '../header-settings';
@use 'nav-shared';

.wrapper {
  @include visibility.hide-print;
  display: none;
  position: relative;

  @include media-queries.mq($from: md) {
    display: block;
  }
}

.wrapperExpanded {
  display: block;
}

.nav {
  abbr[title] {
    border-bottom: 0;
    cursor: help;
    text-decoration: none;
  }
}

.menuWrapper {
  background: variables.$nice-teal;
  color: variables.$white;
}

.menuList {
  @extend %menu-list;
}

a.link {
  @extend %link-styling;
}
